
   <header class="carriers">
    <div class="header-content">
      <div class="header-content-inner">
        <br><br><br>
        <h1 style="font-size: 65px;">Carriers</h1>
        <hr>
        <p style="font-size: 22px;">After narrowing down the selection to relevant carriers, five airlines were analyzed in depth. Insights on each can be found by clicking on each below. A quick comparison can be found below the list.</p>
        </div>
            <%= render "carriers/carriers" %>
    </div>
  </header>
  <section>

      <%= render "carriers/comparison" %>

  </section>
