<header>
  <div class="header-content">
    <div class="header-content-inner">
      <br><br><br>
      <h1 style="font-size: 65px;">Choosing a primary carrier through data analysis</h1>
      <hr>
      <p style="font-size: 22px;">Imagine you're a company trying to choose a primary airline. Your main concern is punctuality - which carrier is the best at staying on schedule? This site presents an analysis of a sample set of data for airline performance, and makes a recommendation on which carrier you should choose.</p>
      <p style="font-size: 22px;">Scroll down to get started, or skip to the analysis of specific carriers and technical write-up via the navbar above.</p>
      </div>
  </div>
</header>