<section class="bg-primary" id="start">
  <div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 text-center">
          <h2 class="section-heading">Step 1: Importing the data</h2>
          <hr class="light">
          <p class="text-faded">This excercise uses a dataset consisting of all flights in the USA from September to November of 2012, as taken from the <a href="http://www.transtats.bts.gov/Fields.asp?Table_ID=236" target="_blank">Bureau of Transportation Statistics On-Time Performance dataset.</a> The dataset contains a variet of indicators related to the on-time performance of each flight.</p>
          <p class="text-faded">As an initial step, this dataset (consisting of 1,491,146 individual flights) was imported into a database that is the basis of this site's analysis.</p>
        </div>
    </div>
   </div>
</section>