<section id="comparison">
  <div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 text-center">
          <h2 class="section-heading">Step 4: Comparing the remaining carriers</h2>
          <hr class="primary">
          <p>At this point, only five carriers remain as a viable primary carrier. Insights on each carrier can be reached by clicking on its name.</p>
        </div>
    </div>
    <div>
      <%= render "carriers/carriers" %>
    </div>
   </div>
   <div>
    <br><br>
    <%= render "carriers/comparison" %>
   </div>

</section>